.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
  }

.note {
	background-color: #000;
	color: #fff;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	margin-right: 4px;
	height: 64px;
}

.track {
	padding: 4px;
	background-color: #999;
	border: 1px solid #000;
	height: 128px;
	margin: 4px;
	margin-bottom: 8px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.track-title {
	width: 32px;
	font-size: 10pt;
}


.rotate {
	/* FF3.5+ */
	-moz-transform: rotate(-90.0deg);
	/* Opera 10.5 */
	-o-transform: rotate(-90.0deg);
	/* Saf3.1+, Chrome */
	-webkit-transform: rotate(-90.0deg);
	/* IE6,IE7 */
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0.083);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
	/* Standard */
	transform: rotate(-90.0deg);
  }